extends ../layout/index

block contenido
    div.py-10
        h1.text-center.text-4xl.my-10.font-extrabold.text-purple-500 Bienes
            span.font-normal.text-black Raices
        h2.text-center.text-3xl.font-extrabold= page

        .mt-8.mx-auto.max-w-xl
            .bg-white.py-8.px-4.shadow-x1.rounded-lg
                form.space-y-5(action="/login" method="POST" noValidate)
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="email") Correo: 
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="user@domain.com" name="email")

                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="password") Contrase単a:
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="*******" name="password" type="password") 
                    
                    input#btn-login(
                        type="submit" 
                        value="Login"
                        class="w-full bg-indigo-600 text-white font-bold py-3 rounded-xl hover:bg-rojoP cursor-pointer hover:text-white"
                    )

                    div.flex.items-center.justify-between.pt-5
                        a.text-sm.text-gray-400(href="/user/register" class="hover:underline decoration-rojoP") 多No tienes una cuenta?, Registrate
                        a.text-sm.text-gray-400(href="/user/passwordRecovery" class="hover:underline decoration-rojoP") 多Olvidaste tu contrase単a?, Recuperala